body,
h1,
span,
div {
  padding: 0;
  margin: 0;
}

body {
  background: #3b4252;
}
.central {
  display: flex;
  width: 600px;
  margin: 0 auto;
  height: 600px;
  color: #e5e9f0;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* font-family: Tem que ver; */
}
.central .horario {
  font-size: 5rem;
}
.data {
  font-size: 2rem;
}
.segundos{
    font-size: 1rem;
}